/* Navigation */
#navbar {
    flex-direction: column;
}

#logo img {
    height: 4rem;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

.user {
    padding: 0px;
}

#navbar ul {
    padding-left: 0;
    margin-bottom: 0;
}

#navbar ul li a:hover {
    border-radius: 10px;
}

#navbar ul li a:active {
    border-radius: 10px;
}

/* Home section */
#home {
    height: 380px;
    padding: 10px 28px;
}

#topbtn {
    margin-top: 0rem;
}

#home::before {
    height: 550px;
}

#home h1 {
    font-size: 2.9rem;
}

#home p {
    font-size: 13px;
}

/* Services */
#sContainer h2 {
    display: flex;
    justify-content: space-evenly;
}

.hSecondary {
    font-size: 3rem;
}

.services {
    margin: 0.5rem;
}

/* Services section  */
#services {
    flex-direction: column;
}

.services .box {
    border: 3px dashed black;
    display: flex;
    flex-direction: column;
    background-color: #ef02024d;
    padding: 10px;
}

.btn {
    margin: auto;
}

#lbtn {
    display: grid;
    grid-template-columns: auto auto;
}