* {
    margin: 0;
    padding: 0;
}



/* footer */
footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 1px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}